---
layout: default
---
<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
{% if page.categories.size != 0 %}
 | 
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="{{ site.baseurl }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span class="tags">
  标签
  {% for tag in page.tags %}
  <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>
<section class="post">
{{ content }}
</section>
<section align="right">
<br/>
<span>
	{% if page.previous %}
	{% if page.previous.title contains 'Linux内核' %}
	<a href="{{ site.baseurl }}/{{ page.previous.previous.url }}" class="pageNav" {% unless page.previous %} class="pageNavInvalid" {% endunless %} >上一篇</a>
	{% else %}
	<a href="{{ site.baseurl }}/{{ page.previous.url }}" class="pageNav" {% unless page.previous %} class="pageNavInvalid" {% endunless %} >上一篇</a>
	{% endif %}
	{% endif %}
	&nbsp;&nbsp;&nbsp;
	{% if page.next %}
	{% if page.next.title contains 'Linux内核' %}
	<a href="{{ site.baseurl }}/{{ page.next.next.url }}" class="pageNav" {% unless page.next %} class="pageNavInvalid" {% endunless %} >下一篇</a>
	{% else %}
	<a href="{{ site.baseurl }}/{{ page.next.url }}" class="pageNav" {% unless page.next %} class="pageNavInvalid" {% endunless %} >下一篇</a>
	{% endif %}
	{% endif %}
</span>
</section>